<!DOCTYPE html>
<html style="width:100%; height:100%; margin: 0;">
  <head>
    <title>MeeteamVox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home-body">
    <div class="landing">
        <div class="name">
            <!--<span class="material-icons logo">blur_on</span>--><h1 class="hero-text"> Meeteam Vox</h1>

        </div>
        <!--<p class="material-icons logo">blur_on</p>-->
        <div class="sign-in-form-box row z-depth-5">
            <%= form_for :user, url: session_path(:user), format: :json, data: { type: 'json' }, remote: true, html: {id: "sign-in-form"} do |f| %>
                <div class="input-field">
                    <%= f.email_field :email %>
                    <%= f.label :email, "E-mail" %>
                </div>
                <div class="input-field">
                    <%= f.password_field :password, autocomplete: "off" %>
                    <%= f.label :password %>
                </div>
                <div id="error-msg">
                </div>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %><br>
                <%= f.submit 'Sign in', class: "btn waves-effect waves-light sign-in-button" %><br>
                <%= link_to "New user? Sign up!", new_registration_path(:user) %>
            <% end %>
        </div>
    </div>

<%= render 'home/footer' %>

  </body>
</html>