<!DOCTYPE html>
<html style="width:100%; height:100%; margin: 0;">
  <head>
    <title>MeeteamVox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home-body">
    <div class="landing">
    <%= yield %>

    </div>

<%= render 'footer' %>

  </body>
</html>